@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--gold:#cda45e;
	--light: #F9F9F9;
	--blue: #D50032;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html, body {
	overflow-y: auto;
	height : auto;
	margin: 0;
    padding: 0;
    background-color: #0c0b09; /* warna gelap, bisa kamu sesuaikan */
}

body {
	background: var(--grey);
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	background-color: white;
	height: auto;
	overflow-x: auto;
}

.dashboard {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.card {
	background: #F6EEE0;
	color: #0c0b09;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px 10px;
	width: 190px;
	text-align: center;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-icon {
	font-size: 1.5rem;
	margin-bottom: 5px;
	color: #cda45e;
}

.card-info h3 {
	font-size: 20px;
	color: #0c0b09;
	margin: 0;
	font-family: 'Playfair Display', serif;
}

.card-info p {
	margin: 3px 0 0 0;
	font-size: 15px;
	color: #0c0b09;
  	font-family: var(--poppins);
	font-weight: 500;
}


.bold {
	font-weight: bold;
}

.charts-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	flex-wrap: wrap;
}

.chart-box {
	flex: 1;
	min-width: 300px;
	max-width: 400px;
	height: 300px;
	margin-bottom: 15px;
}


.chart-box canvas {
	width: 100% !important;
	height: 100% !important;
	background: #F6EEE0;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	padding: 10px;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

main {
	background-color: #0c0b09;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

body.dark-mode .octa {
	color: white;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: #0c0b09;
	z-index: 2000;
	font-family: var(--lato);
	transition: all 0.3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	float: left;
  	font-family: var(--poppins);
}

#sidebar::--webkit-scrollbar {
	display: none;
}

#sidebar.hide {
	width: 80px;
}

#sidebar.hide .text {
	display: none;
}

#sidebar .brand {
	font-size: 25px;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
	height: 60px;
	display: flex;
	align-items: center;
	color: #ffcc66;
	position: sticky;
	background: #0c0b09;
	z-index: 500;
	box-sizing: content-box;
	margin: 20px 0 0 15px;
}

#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 50px;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 15px;
	border-radius: 48px 0 0 48px;
	padding: 5px;
}

#sidebar .side-menu li.active {
	border-radius: 48px 0 0 48px;
	background: #171614;
	position: relative;
}

#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 #171614;
	z-index: -1;
}

#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 #171614;
	z-index: -1;
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: #F6EEE0;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 15px;
	color: #0c0b09;
	white-space: nowrap;
	overflow-x: hidden;
	transition: background 0.2s ease, color 0.2s ease;
}

#sidebar .side-menu.top li.active a {
	color: #cda45e;
}

#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	font-size: 15px;
	transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
	color: #D94C4C;
}

#sidebar .side-menu.top li a:hover {
	color: #cda45e;
}

#sidebar .side-menu li a .bx {
	min-width: calc(60px - ((4px + 6px) * 2));
	font-size: 18px;
	display: flex;
	justify-content: center;
	margin-left: 7px;
}

.showmenu-order h5 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-left: 4px solid #cda45e;
    padding-left: 10px;
}

.detail-item {
    background-color: #F6EEE0;
    padding: 10px 14px;
    border-radius: 10px;
    margin-bottom: 12px;
    color:  #0c0b09;
}

.detail-item strong {
    color:  #cda45e;
    font-weight: 600;
}

#main-wrapper {
	display: flex;
	transition: all 0.3s ease;
	min-height: 100vh;
    background-color: #0c0b09;
}

#main-wrapper.sidebar-collapsed #sidebar {
	width: 80px;
}

#main-wrapper.sidebar-collapsed #sidebar .text {
	display: none;
}

#main-wrapper.sidebar-collapsed #content {
	margin-left: 80px;
	width: calc(100% - 80px);
}

/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	margin-left: 280px;
	transition: all 0.3s ease;
}

#sidebar.hide~#content {
	margin-left: 0;
}

#content table {
	transition: all 0.3s ease;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: #0c0b09;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 #0c0b09;
}

#content nav a {
	color: #2C2C2C;
	/* Teks netral elegan */
}

#content nav .bx.bx-menu {
	cursor: pointer;
	color: #fff;
	font-size: 22px;
}

#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}

#content nav .nav-link:hover {
	color: #C89F5D;
	/* Hover gold */
}

#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}

#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}

#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: #685841;
	/* Background input soft */
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: #2C2C2C;
}

#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #C89F5D;
	/* Tombol gold */
	color: #F6EEE0;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

#content nav .notification {
	font-size: 20px;
	position: relative;
	color: #2C2C2C;
}

#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #F6EEE0;
	background: #D94C4C;
	color: #FFF;
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: #E6E4E1;
	/* Soft grey */
	cursor: pointer;
	position: relative;
}

#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: #f1ece5;
	/* Emas toggle */
	border-radius: 50%;
	transition: all .3s ease;
}

#content nav #switch-mode:checked+.switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
  	overflow-y: visible;
	background-color: #171614;
	min-height: 100vh;
}

#content main .head-title .left h1 {
	font-size: 45px;
	font-weight: 600;
	margin: 20px 0 40px 15px;
	color: #fff;
	text-align: center;
}
#content main .head-title .left h1 span {
	font-size: 45px;
	font-weight: 600;
	margin: 20px 0 40px 15px;
	color: #cda45e;
}

#content main .head-title .left .breadcrumb li {
	color: #cda45e;
	background-color: #0c0b09;
}

#content main .head-title .left .breadcrumb li a {
	color: #cda45e;
	pointer-events: none;
	font-size: 30px;
	font-weight: 30 px;
	font-family: 'Playfair Display', serif;
}

#content main .head-title .left .breadcrumb li a.active {
	color: #cda45e;
	pointer-events: unset;
}

#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: #C89F5D;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#content main .box-info li {
	padding: 24px;
	background: #8e7777;
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
	border: 1px solid #130f0f;
}

#content main .box-info li .text h3,
#content main .box-info li .text p {
	color: #2C2C2C;
}

#content main .table-data>div {
	border-radius: 20px;
	background: #0c0b09;
	padding: 24px;
	overflow-x: auto;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	border: 1px solid #E0DFDC;
	margin-top : 0px;
}

#content main .table-data .head h3 {
	color: #cda45e;
}

#content main .head h3 {
	color: #fff;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	margin-left: 10px;
}

#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid #88704b;
	color: #3E3E3E;
}

#content main .table-data .order table td {
	padding: 16px 0;
	color: #3B3B3B;
}

#content main .table-data .order table tbody tr:hover {
	background: #7e6c4e;
}

#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: #131111;
	border-radius: 20px;
	font-weight: 700;
}

#content main .table-data .todo .todo-list li {
	background: #DCDAD6;
	color: #2C2C2C;
}

#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid #C89F5D;
}

#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid #B86A3D;
}

/* MAIN */
/* CONTENT */

.menu-image {
	width: 70px;
	border-radius: 15px;
}



@media screen and (max-width: 768px) {
	#sidebar {
		position: fixed;
		top: 0;
		left: -240px; /* Disembunyi di awal */
		width: 240px;
		height: 100vh;
		background-color: #0c0b09;
		z-index: 999;
		transition: all 0.3s ease;
		overflow-y: auto;
	}

	#main-wrapper.sidebar-collapsed #sidebar {
		left: 0;
	}

	#sidebar .text {
		display: none;
	}

	#content {
		width: 100%;
		margin-left: 0;
		transition: all 0.3s ease;
	}
}





@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}

	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show~.notification,
	#content nav form.show~.profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}

	#content main .table-data .order table {
		min-width: 420px;
	}

	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}


.turtle {
	color: #cda45e;
	font-size: 25px;
}

.resto {
	color: #fff;
	font-size: 25px;
}

body.dark .octa {
	color: rgb(237, 223, 223);
	/* Ubah jadi putih pas dark mode */
}

/*akun*/

#userTable {
	margin: auto;
	padding: 20px;
	border-collapse: collapse;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 7px 1px #cda45e;
	width: 100%;
	min-width: 700px;
	max-width: 1000px;
	margin-top: 30px;
}

#userTable thead {
	background-color: #ffc107;
	color: #0c0b09;
}

#userTable thead th {
	padding: 16px 12px;
	font-weight: 600;
	font-size: 15px;
}

#userTable tbody tr {
	background-color: #0c0b09;
	color: #F6EEE0;
	transition: background 0.3s;
}

#userTable tbody tr:nth-child(even) {
	background-color: #2d2d2c;
}

#userTable tbody tr:nth-child(odd) {
	background-color: #201f1f;
}

#userTable tbody td {
	padding: 14px 12px;
	font-size: 14px;
}

#userTable tbody tr:hover {
	background-color: #cda45e;
	color: #0c0b09;
	transition: 0.3s;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


#invoice {
	margin: 10px auto;
	padding: 20px;
	border-collapse: collapse;
	border-radius: 15px;
	overflow: hidden;
	width: 80%;
}

#invoice thead {
	background-color: #cda45e;
	color: #1e1e1e;
}

#invoice thead th {
	padding: 16px 12px;
	font-weight: 600;
	font-size: 15px;
}

#invoice tbody tr {
	background-color: #2b2b2b;
	color: #F6EEE0;
	transition: background 0.3s;
}

#invoice tbody tr:nth-child(even) {
	background-color: #262626;
}

#invoice tbody tr:nth-child(odd) {
	background-color: #1f1f1f;
}

#invoice tbody td {
	padding: 14px 12px;
	font-size: 14px;
}

/* Title & Search */
.order .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.order .head h3 {
	font-size: 26px;
	font-weight: 600;
	color: #5d4037;
	font-family: 'Playfair Display', serif;
}

.search-container {
	position: relative;
	width: 300px;
}

.search-container input {
	width: 100%;
	padding: 12px 40px 12px 16px;
	border-radius: 12px;
	background: #F6EEE0;
	font-size: 14px;
	color: #0c0b09;
	transition: 0.3s ease;
}

.search-container input:focus {
	outline: none;
}

.search-container i {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 22px;
}

/* Table Styles */
.table-data table {
	width: 100%;
	border-collapse: collapse;
	background: #181212;
	border-radius: 10px;
	overflow: hidden;
}

.table-data th,
.table-data td {
	padding: 14px 18px;
	text-align: center;
	font-size: 14px;
	color: #241e1d;
}

.table-data th {
	background-color: #6e4128;
	color: #82736d;
	font-weight: 600;
	text-align: center;
}

.table-data tr:nth-child(even) {
	background-color: #c9c6c4;
	text-align: center;
}

.table-data tr:hover {
	background-color: #544239;
	cursor: pointer;
	transition: background 0.3s;
	text-align:center;
}

/* Menu Header Search */
.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	background-color: #0c0b09;
	border-radius: 15px;
	margin: 20px auto;
	box-shadow: 0 0 5px 1px #cda45e;
	max-width: 1000px;
	min-width: 700px;
}

.menu-header h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	color: #fff;
	font-size: 30px;
	margin: 0;
}

.menu-header h1 span {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	color: #cda45e;
	font-size: 30px;
	margin-left: 8px;
}

.btn-card-add {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: #cda45e;
	color: #0c0b09;
	padding: 10px 14px;
	border-radius: 10px;
	font-weight: 600;
	text-decoration: none;
	transition: background 0.3s ease;
}

.btn-card-add:hover {
	background-color: #b68e48;
}

.bx-plus {
	color: #0c0b09;
	font-size: 22px;
}

.btn-card-back {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: #cda45e;
	color: #0c0b09;
	padding: 10px 14px;
	border-radius: 10px;
	font-weight: 600;
	text-decoration: none;
	transition: background 0.3s ease;
}

.btn-card-back:hover {
	background-color: #b68e48;
}

.bx-arrow-back {
	color: #0c0b09;
	font-size: 22px;
}

.createmenu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	background-color: #0c0b09;
	border-radius: 15px;
	box-shadow: 0 0 5px 1px #cda45e;
	margin: 20px auto;
	max-width: 1000px;
	min-width: 700px;
}

.createmenu-header h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	color: #fff;
	font-size: 30px;
	margin: 0;
}

.createmenu-header h1 span {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	color: #cda45e;
	font-size: 30px;
	margin-left: 8px;
}

.menu-table-container {
	margin: 20px;
	background: #F6EEE0;
	padding: 24px;
	border-radius: 16px;
	box-shadow: 0 8px 20px rgba(165, 158, 150, 0.15);
}

.menu-table {
	width: 100%;
	border-collapse: collapse;
	background-color: #ffeaea;
	/* atau warna lainnya */
	color: #4a0000;
	/* teks jadi lebih gelap & terlihat */
	font-weight: 500;
}

.menu-table th,
.menu-table td {
	text-align: left;
	padding: 14px;
	border-bottom: 1px solid #e5d9cc;
}

.img-menu {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 8px;
}

.crud-buttons {
	display: flex;
	gap: 6px;
	flex-direction: column;
    align-items: center;
}

.crud-btn {
	display: flex;
	align-items: center;
	gap: 3px;
	border: none;
	border-radius: 6px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	transition: 0.3s;
}

.crud-btn.edit{
    background: #007bff;
    color: #fff;
    border: none;
    padding: 4px 18px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.crud-btn.edit:hover{background:#0056b3;}
.crud-btn.edit i{margin-right: 3px;}

.crud-btn.more{
    background: #007bff;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
	margin-bottom: 5px;
}
.crud-btn.more:hover{background:#0056b3;}
.crud-btn.more i{margin-right: 3px;}

.crud-btn.delete{
    background: #c54b5d;    
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.crud-btn.delete:hover{background:#a73d4d;}
.crud-btn.delete i{margin-right: 3px;}


.inline-form {
	display: inline;
}

body {
	font-family: 'Poppins', sans-serif;
}

.badge-success {
	background-color: #27ae60;
	color: #FFF;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 13px;
	font-weight: 600;
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.btn-check {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 8px 12px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
	transition: background 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-check:hover {
	background-color: #0056b3;;
	border-radius: 6px;
}

#searchContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 16px;
	gap: 10px;
	padding: 10px;
}

#searchInput {
	padding: 10px 14px;
	border-radius: 10px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 13px;
	font-family: var(--poppins);
	width: 250px;
}

.table-data {
	margin-top: 20px;
	background-color: #0c0b09
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
}

th,
td {
	text-align: center;
	padding: 14px 18px;
}

thead tr {
	background-color: #1d2226;
}

tbody tr {
	background-color: #F6EEE0;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
}

tbody tr:hover {
	background-color: #F6EEE0;
}

.order {
	padding: 24px;
	background-color: #0c0b09;
	border-radius: 20px;
	box-shadow: 0 0 15px 1px #cda45e;
	margin: auto;
	max-width: 1000px;
	min-width: 700px;
}

.createmenu-order {
	padding: 24px;
	background-color: #0c0b09;
	border-radius: 20px;
	box-shadow: 0 0 7px 1px #cda45e;
	margin: auto;
	max-width: 1000px;
	min-width: 700px;
	margin-top: 40px;
}

.showmenu-order {
	padding: 24px;
	background-color: #0c0b09;
	border-radius: 20px;
	box-shadow: 0 0 7px 1px #cda45e;
	margin: auto;
	max-width: 900px;
	min-width: 700px;
	margin-top: 30px;
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	color: #cda45e;
}

.head-title {
	margin-bottom: 20px;
}

h1,
h3 {
	margin: 0;
}

.breadcrumb {
	margin-top: 8px;
	color: #777;
	font-size: 14px;
	list-style: none;
}

/*create menu*/
body {
	font-family: 'Poppins', sans-serif;
	background: #f7f7f7;
}

.head-title h1 {
	font-size: 2rem;
	font-weight: 700;
	color: #333;
  	font-family: 'Playfair Display', serif;
}


.table-data .order {
	background: #0c0b09;
	padding: 1rem;
	border-radius: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  	margin-top: 1.5rem;
}

.table-data .order h3 {
	font-size: 1.5rem;
	color: #444;
	margin-bottom: 1rem;
}

form label {
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
	color: #cda45e;
}

.form-control {
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 1rem;
	border: 1px solid #cda45e;
	border-radius: 10px;
	font-size: 1rem;
	background-color: #F6EEE0;
}

.form-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-column {
    flex: 1;
    min-width: 250px;
	margin: 0 10px 0 10px;
}

.submit-container {
    margin-top: 24px;
}


.btn-primary {
	background: #4CAF50;
	border: none;
	font-size: 15px;
	font-family: var(--poppins);
	font-weight: 600;
	border-radius: 12px;
	cursor: pointer;
	color: #0c0b09;
	transition: all 0.3s ease;
	margin-left: 10px;
}

.btn-primary:hover {
	background: #3f9042;
	color: #fff;
}

.btn-primary-edit {
	background: #4CAF50;
	border: none;
	font-size: 15px;
	font-family: var(--poppins);
	font-weight: 600;
	border-radius: 12px;
	cursor: pointer;
	color: #0c0b09;
	transition: all 0.3s ease;
}

.btn-primary-edit:hover {
	background: #3f9042;
	color: #fff;
}

.btn-more {
	color: #cccccc;
}

.btn-more:hover {
	color: #121c68;
}

.alert-success {
	padding: 1rem;
	border-radius: 10px;
	background-color: #d1e7dd;
	color: #0f5132;
	margin-bottom: 1rem;
}

.breadcrumb li a {
	color: #888;
	font-size: 0.9rem;
}

a.color {
	display: inline-block;
	margin-top: 1rem;
	color: red;
	font-weight: 500;
}

/*orders*/
.table-tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.table-tools input {
	padding: 6px 10px;
	border-radius: 6px;
	border: 1px solid #6b4747;
	width: 200px;
}


.btn {
	padding: 6px 12px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 0.9rem;

}

.btn-danger {
	background-color: #e74c3c;
	color: white;
}

.btn i {
	margin-right: 5px;
}

/*ordersshow*/
body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f8fa;
	color: #333;
}

.table-data {
	background: #0c0b09;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	margin-top: 2rem;
}

.head-title h1,
.head-title h3 {
	color: #3c3c3c;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;
}

thead tr {
	background-color: #F6EEE0;
}

th,
td {
	padding: 1rem;
	text-align: left;
	border-bottom: 1px solid #1b1717;
}

th {
	font-weight: 600;
	color: #181212;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 1rem;
}

ul li {
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	background: #f9fafb;
	border-radius: 0.5rem;
	color: #444;
}

a.back-btn {
	display: inline-block;
	margin-top: 2rem;
	padding: 0.7rem 1.5rem;
	background-color: #cfbe8b;
	color: rgb(30, 28, 28);
	border-radius: 0.5rem;
	text-decoration: none;
	transition: background 0.3s ease;
}

a.back-btn:hover {
	background-color: #c4ccd3;
}

/*testimonials*/
.table-data .order {
	background: #F6EEE0;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}
.table-data {
	background: #0c0b09;
}

.table-data table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background: #0c0b09;
}

.table-data table th,
.table-data table td {
	padding: 14px 16px;
	border-bottom: 1px solid #F6EEE0;
	text-align: left;
	font-size: 14px;
}

.table-data table th {
	background-color: #F6EEE0;
	font-weight: 600;
	color: #333;
}

.table-data table tbody tr:hover {
	background-color: #F6EEE0;
}

.btn-danger {
	background-color: #e74c3c;
	color: #fff;
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 13px;
	cursor: pointer;
}

.btn-success:hover {
	background-color: #c99e4e;
}

.badge.bg-success {
	background-color: #27ae60;
	color: #fff;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 13px;
	font-weight: 600;
}

.head-title h1 {
	font-size: 26px;
	margin-bottom: 10px;
	color: #2c3e50;
}

.order .head h3 {
	color: #2c3e50;

	font-weight: 600;
}

/* showOrder */
.order-detail-container {
	display: flex;
	gap: 30px;
	margin-top: 20px;
	flex-wrap: wrap;
}

.order-detail-column {
	flex: 1;
	min-width: 300px;
}

.detail-item {
	background-color: #0c0b09;
	color: #FFF;
	padding: 12px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 600;
	box-shadow: 0 3px 8px #383535
}

