/*--------------------------------------------------------------
# CSS CART MENU
--------------------------------------------------------------*/
.cartmenu {
    margin-top: 80px;
    background-color: color-mix(in srgb, var(--background-color) 90%, white 5%);
}

.card-menu {
  border: 3px var(--accent-color) solid;
  background: #F4EFE6;
  transition: 0.5s;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.card-menu:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-menu img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.bi-cart {
  font-size: 20px;
}

.bi-plus {
  font-size: 20px;
}

.bi-dash {
  font-size: 20px;
}

.btn-sm {
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 5px;
    border-radius: 50px;
}

.btn-md {
    font-size: 20px;
    padding: 6px 14px;
    white-space: nowrap;
    font-weight: 550;
    font-family: 'Marcellus', serif;
    margin-bottom: 40px;
}

.quantity-display {
  font-weight: bold;
  font-family: "Marcellus", sans-serif;
  margin-top: 15px;
  font-size: 18px;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Marcellus', serif;
  letter-spacing: 1px;
  color: black;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Marcellus', serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
  margin-top: 10px;
}

h2 {
  color: var(--accent-color);
  margin: 0;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 40px;
}